<!DOCTYPE html>

<title>TechOlympics: Code Golf!</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />

<script defer src="https://unpkg.com/marked@1.2.7/marked.min.js"></script>
<script defer src="https://unpkg.com/dompurify@2/dist/purify.min.js"></script>
<script defer type="module" src="./golf.js"></script>

<link rel="stylesheet" href="https://unpkg.com/hack@0.8.1/dist/hack.css" />
<link rel="stylesheet" href="https://unpkg.com/hack@0.8.1/dist/dark.css" />
<link rel="stylesheet" href="./main.css" />

<!-- adding "hack" class makes it markdown style -->
<body class="dark" style="font-size: 14px">
  <div id="top-right" style="position: absolute; top: 1rem; right: 1rem"></div>

  <div id="app">
    <show-connectivity :is-connected="isConnected"></show-connectivity>

    <div v-if="authStatus.type === 'loading'">Loading description...</div>

    <div v-cloak v-else-if="authStatus.type === 'login'">
      <login-form
        :name="auth.name"
        :secret-phrase="auth.secretPhrase"
        v-model:show-secret-phrase-input="authStatus.showSecretPhraseInput"
        :is-submitting-form="authStatus.isSubmittingForm"
        @submit="submitLogin($event)"
      ></login-form>
    </div>

    <div v-else-if="theHtmlDescription && submittedForms" v-cloak>
      <teleport to="#top-right">
        <div style="text-align: right">
          <button @click="logOut">Log out</button>
        </div>
      </teleport>

      <h1>Welcome to TechOlympics Code Golf, {{auth.name}}!</h1>

      <!-- prettier-ignore -->
      <p>
        Your secret phrase is <b>{{auth.secretPhrase}}</b>. Write it down!
      </p>

      <div v-if="theHtmlDescription" v-html="theHtmlDescription"></div>

      <div class="submission">
        <form @submit.prevent="submit">
          <label>
            Tio.Run Link:
            <input v-model="text" required />
          </label>
          <button type="submit">Submit</button>
        </form>
      </div>

      <golfer-submissions-table
        v-if="submittedForms"
        :submitted-forms="submittedForms"
      ></golfer-submissions-table>
    </div>
  </div>
</body>
